# docker login
# docker network create redis
# docker run -d --name=redis --network redis -p 6379:6379 redis:latest

# Generate PDF (https://pypi.org/project/kaleido/)
kaleido

plotly
psutil
pandas
pretty-html-table
pyyaml
redis
send-email
simplejson
stockstats
telegram
yfinance