[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaleido = "*"
plotly = "*"
psutil = "*"
pandas = "*"
pretty-html-table = "*"
redis = "*"
simplejson = "*"
stockstats = "*"
telegram = "*"
yfinance = "*"
streamlit = "*"
numpy = "*"
PyYAML = "*"
send_email = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
